{% extends 'news/Demo.html' %}
{% block contentTest %}
{% if lnews %}
    {% for item in lnews %}

    <div class="container">
        <div style="flex_decoration:column">
        <div class="related-news">
            <div class="poster">
                <img src="{{item.art_image.url}}" alt="ko">
            </div>
            <div class="content">
                <h2><a href="/news/demo/list/{{item.art_id}}">{{item.art_name}}</a></h2>
                <p>{{item.art_summary}}</p>
                <blockquote>
                    {{item.art_create_time}}
                </blockquote>
            </div>
        </div>
        </div>
    </div>
{% endfor %}
{% endif %}
{% endblock %}